/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 92.5%; } }
  @media only screen and (max-width: 37em) {
    html {
      font-size: 52.5%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  padding: 4% 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(212, 195, 172, 0.5))), url(../img/back.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(212, 195, 172, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  background-image: url(../img/front.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 6rem 12rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 6rem 12rem rgba(0, 0, 0, 0.4); }

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  background-color: transparent;
  position: relative; }
  @media only screen and (max-width: 37em) {
    .header {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  .header__time-box {
    position: absolute;
    top: 17%;
    left: 8%; }
    @media only screen and (max-width: 37em) {
      .header__time-box {
        top: 7%; } }
  .header__date {
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: -2rem; }
  .header__time {
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 3px; }
  .header__city-box {
    position: absolute;
    top: 40%;
    right: 12%; }
  .header__city {
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 1px; }
  .header__city--state {
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 1px; }
  .header__conditions {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    text-align: right;
    letter-spacing: 1px; }
  .header__icon-box {
    position: absolute;
    top: 56%;
    right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 12rem;
    height: 14rem; }
  .header__icon {
    width: 2.2rem;
    height: 2.2rem; }
  .header__icon-txt {
    display: inline-block;
    margin-left: 1rem;
    margin-top: -2rem;
    font-size: 1.4rem;
    font-weight: 300; }

.weather {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  background-color: rgba(60, 60, 68, 0.85);
  font-size: 2rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 37em) {
    .weather {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 3rem; } }
  .weather__today {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35%;
    flex: 0 1 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 37em) {
      .weather__today {
        margin-top: 4rem; } }
  .weather__icon-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 14rem;
    height: 14rem;
    margin-left: 3%;
    margin-top: -2rem; }
  .weather__icon-now {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .weather__temp-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: -1.5rem; }
  .weather__now {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: #272e3f;
    border-radius: 100px;
    padding: 1px 10px;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .weather__value {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    font-size: 5rem;
    margin-left: 1rem; }
  .weather__week {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 65%;
    flex: 0 1 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .weather__weekday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .weather__weekday-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    background-color: #272e3f;
    border-radius: 100px;
    padding: 1px 5px;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
