$color-white:#fff;
$color-black:#000;
$color-primary:#3C3C44;
$color-primary-light:#a5a5cc;
$color-primary-dark:#272e3f;
$color-secondary:#ed9fd8;
$color-secondary-dark:#d4c3ac;

$shadow-light:0 0.5rem 0.5rem rgba(000,000,000,0.1);
$shadow:0 6rem 12rem rgba($color-black,0.4);